<% if tasks.todo.any? %>
<section>
  <h2 class="text-2xl"><%= translate(".todo") %></h2>

  <table>
    <% tasks.todo.each do |task| %>
      <%= render "row", id: dom_id(task) do %>
        <td>
          <%= render "button", id: dom_id(task, :select), class: "form-checkbox h-6 w-6",
            form: :new_event_form, name: :task_id, value: task.id,
            "data-action": "click->controls-dialog#showModal" do %>
            <span class="sr-only"><%= translate(".select") %></span>
            <span class="sr-only" aria-hidden="true"><%= task.name %></span>
          <% end %>
        </td>

        <td>
          <label for="<%= dom_id(task, :select) %>"><%= task.name %></label>
        </td>
      <% end %>
    <% end %>
  </table>
</section>
<% end %>

<% if tasks.delayed.any? %>
<section>
  <h2 class="text-2xl"><%= translate(".delayed") %></h2>

  <table>
    <% tasks.delayed.each do |task| %>
      <%= render "row" do %>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_promotions_path(task)) do |form| %>
            <%= render "button", builder: form, class: "border px-2 py-1" do %>
              <%= translate(:promote, scope: [:helpers, :submit, :event]) %>
              <span class="sr-only"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
</section>
<% end %>

<% if tasks.completed.any? %>
<section>
  <h2 class="text-2xl"><%= translate(".completed") %></h2>

  <table>
    <% tasks.completed.each do |task| %>
      <%= render "row" do %>
        <td>&checkmark;</td>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_reopenings_path(task)) do |form| %>
            <%= render "button", builder: form, class: "border px-2 py-1" do %>
              <%= translate(:reopen, scope: [:helpers, :submit, :event]) %>
              <span class="sr-only"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
</section>
<% end %>
