<% if tasks.todo.any? %>
<section>
  <%= form_with(scope: :event, url: completions_path) do |form| %>
    <fieldset>
      <legend>
        <h2><%= translate(".todo") %></h2>
      </legend>

      <table>
        <tbody>
          <%= form.collection_check_boxes :task_ids, tasks.todo, :id, :name do |builder| %>
            <tr>
              <td><%= builder.check_box %></td>
              <td><%= builder.label %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% with_options scope: [:helpers, :submit, :event] do |action| %>
              <td>
                <%= form.button action.translate(:complete) %>
              </td>

              <td>
                <%= form.button action.translate(:delay), formaction: delays_path %>
              </td>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  <% end %>
</section>
<% end %>

<% if tasks.delayed.any? %>
<section>
  <h2><%= translate(".delayed") %></h2>

  <table>
    <% tasks.delayed.each do |task| %>
      <tr>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_promotions_path(task)) do |form| %>
            <%= form.button id: dom_id(task, :promote) do %>
              <%= translate(:promote, scope: [:helpers, :submit, :event]) %>
              <%= task.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
<% end %>

<% if tasks.completed.any? %>
<section>
  <h2><%= translate(".completed") %></h2>

  <table>
    <% tasks.completed.each do |task| %>
      <tr>
        <td>&checkmark;</td>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_reopenings_path(task)) do |form| %>
            <%= form.button do %>
              <%= translate(:reopen, scope: [:helpers, :submit, :event]) %>
              <%= task.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
<% end %>
