<% if tasks.todo.any? %>
<section>
  <%= form_with(scope: :event, url: completions_path) do |form| %>
    <fieldset>
      <legend>
        <h2 class="text-2xl"><%= translate(".todo") %></h2>
      </legend>

      <table>
        <tbody>
          <%= form.collection_check_boxes :task_ids, tasks.todo, :id, :name do |builder| %>
            <%= render "row" do %>
              <td><%= builder.check_box class: "form-checkbox h-6 w-6"%></td>
              <td><%= builder.label %></td>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <%= render "row" do %>
            <% with_options scope: [:helpers, :submit, :event] do |action| %>
              <td>
                <%= render "button", builder: form, class: "bg-green-400 text-white" do %>
                  <%= action.translate(:complete) %>
                <% end %>
              </td>

              <td>
                <%= render "button", builder: form, formaction: delays_path, class: "bg-teal-400 text-white" do %>
                  <%= action.translate(:delay) %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tfoot>
      </table>
    </fieldset>
  <% end %>
</section>
<% end %>

<% if tasks.delayed.any? %>
<section>
  <h2 class="text-2xl"><%= translate(".delayed") %></h2>

  <table>
    <% tasks.delayed.each do |task| %>
      <%= render "row" do %>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_promotions_path(task)) do |form| %>
            <%= render "button", builder: form, class: "border px-2 py-1" do %>
              <%= translate(:promote, scope: [:helpers, :submit, :event]) %>
              <span class="sr-only"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
</section>
<% end %>

<% if tasks.completed.any? %>
<section>
  <h2 class="text-2xl"><%= translate(".completed") %></h2>

  <table>
    <% tasks.completed.each do |task| %>
      <%= render "row" do %>
        <td>&checkmark;</td>
        <td><%= task.name %></td>

        <td>
          <%= form_with(scope: :event, url: task_reopenings_path(task)) do |form| %>
            <%= render "button", builder: form, class: "border px-2 py-1" do %>
              <%= translate(:reopen, scope: [:helpers, :submit, :event]) %>
              <span class="sr-only"><%= task.name %></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
</section>
<% end %>
