<%= form_with scope: :event, url: completions_path, html: {
  autocomplete: :off, "data-controller": "form", "data-bulk-target": "form",
  "data-action": "input->bulk#resetIfAllUnchecked input->form#announceChecked"
} do |form| %>
  <output class="sr-only"
    data-form-singular-value="<%= translate(".tasks", count: 1) %>"
    data-form-plural-value="<%= translate(".tasks", count: 2) %>"
    data-form-target="output"
  ></output>

  <fieldset>
    <table>
      <tbody data-controller="tabstop-list" data-action="focusin->tabstop-list#trapFocus keydown->tabstop-list#navigate">
        <%= form.collection_check_boxes :task_ids, tasks.todo, :id, :name do |builder| %>
          <%= render "row", class: "absolute", "data-controller": "tethered",
            "data-tethered-selector-value": "#" + dom_id(builder.object) do %>
            <td>
              <% (builder.object == selected_task).tap do |selected| %>
                <%= builder.check_box checked: selected, autofocus: selected, class: "
                  focus:shadow-outline
                  form-checkbox
                  h-6
                  hover:shadow-outline
                  text-yellow-500
                  w-6
                " %>
              <% end %>
            </td>
            <th scope="row" class="font-normal"><%= builder.label %></th>
          <% end %>
        <% end %>
      </tbody>
      <tfoot data-controller="tabstop-list" data-tabstop-list-horizontal-value="true" data-action="focusin->tabstop-list#trapFocus keydown->tabstop-list#navigate">
        <%= render "row", class: "absolute justify-center bottom-0 left-0 right-0" do %>
          <% with_options scope: [:helpers, :submit, :event] do |action| %>
            <td>
              <%= render "button", builder: form, class: "bg-green-400 text-white" do %>
                <%= action.translate(:complete) %>
              <% end %>
            </td>

            <td>
              <%= render "button", builder: form, formaction: delays_path, class: "bg-teal-400 text-white" do %>
                <%= action.translate(:delay) %>
              <% end %>
            </td>

            <td>
              <%= render "button", builder: form, type: :reset, class: "bg-black text-white" do %>
                <%= action.translate(:close) %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tfoot>
    </table>
  </fieldset>
<% end %>
