<%= form_with(scope: :event, url: completions_path) do |form| %>
  <fieldset>
    <table>
      <tbody>
        <%= form.collection_check_boxes :task_ids, tasks.todo, :id, :name do |builder| %>
          <%= render "row" do %>
            <td><%= builder.check_box %></td>
            <td><%= builder.label %></td>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <%= render "row" do %>
          <% with_options scope: [:helpers, :submit, :event] do |action| %>
            <td>
              <%= render "button", builder: form, class: "bg-green-400 text-white" do %>
                <%= action.translate(:complete) %>
              <% end %>
            </td>

            <td>
              <%= render "button", builder: form, formaction: delays_path, class: "bg-teal-400 text-white" do %>
                <%= action.translate(:delay) %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tfoot>
    </table>
  </fieldset>
<% end %>
