<!DOCTYPE html>
<html>
  <head>
    <title>A11y To-dos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="bulk controls-dialog">
    <main>
      <%= yield %>
    </main>

    <dialog data-controller="dialog" data-controls-dialog-target="dialog"
      data-action="close->bulk#reset close->controls-dialog#release reset->dialog#close" class="
      backdrop:hidden
      bg-transparent
      border-0
      h-full
      p-0
      w-full
    ">
      <div data-remote-fragment-outlet-target></div>

      <%= form_with url: new_event_path, id: :new_event_form, method: :get, html: {
        "data-controller": "remote-fragment",
        "data-controls-dialog-target": "remoteFragment",
        "data-remote-fragment-outlet-selector-value": "[data-remote-fragment-outlet-target]",
        "data-action": "ajax:success->remote-fragment#replace reset->remote-fragment#remove"
      } %>
    </dialog>
  </body>
</html>
