<!DOCTYPE html>
<html>
  <head>
    <title>A11y To-dos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="bulk controls-dialog">
    <main>
      <%= yield %>
    </main>

    <dialog data-controller="dialog" data-controls-dialog-target="dialog" data-action="close->bulk#resetForm reset->dialog#close" class="
      backdrop:hidden
      bg-transparent
      border-0
      h-full
      p-0
      w-full
    ">
      <%= render(template: "events/new", locals: {tasks: Task.all}) %>
    </dialog>
  </body>
</html>
